<template>
  <div class="content">
    <img :src="imgPath" style="width: 100%">
    <span>{{ title }}</span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      item: null,
      seq: null,
      imgPath: null,
      title: null,
      locate: null,
      price: null,
      wrDtm: null,
      likeYn: null,
      likeCnt: null
    }
  },
  computed: {
    routeObj() {
      console.log(this.$route.query)
      return this.$route.query
    }
  },
  beforeMount() {
    this.item = this.$route.query
    this.imgPath = require('@/assets/image/'+this.item.imgPath)
    this.title = this.item.title
  }
}
</script>

<style>
  .content {
    margin-top: 70px;
    border-radius: 20px;
    padding: 8px;
    height: 100vh;
  }
</style>