<template>
  <div class="content">
    <button @click="fnSetList">리스트 가져오기</button> 갯수 : <span>{{allListCount}} {{countOfSeq}} {{percentOfSeq}}</span>
    <div v-for="(item, i) in $store.state.list" :key="i">
        <div class="card-div" @click="fnView(item)">
          <div class="card-img-div">
            <img class="card-img" :src="fnImagePath(item.imgPath)" />
          </div>
          <div class="card-text-div"> 
            <span>{{item.title}}</span>
          </div>
          <hr/>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
//import { mapGetters, mapMutations } from 'vuex'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Home',
  data() {
    return {
      token : null,
      list : [

        // {seq: 1, imgPath : require('sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 2, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 3, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 4, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 5, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 6, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 7, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 8, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 9, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 10, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 11, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 12, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 13, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 14, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},
        // {seq: 15, imgPath : require('@/assets/image/sampleImg.png'), title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'},

      ]
    }
  },
  methods : {
    //...mapMutations(['addList']),
    ...mapActions(['addList']),
    fnView (item) {
      this.$router.push({name: 'detail', query: item})
    },
    fnImagePath : (imgName) => {
      return require('@/assets/image/' + imgName)
    },
    fnSetList() {
      let obj = {seq: 3, imgPath : 'sampleImg.png', title : '아이용 트램폴린', locate : '서울시 동작구', price : '75000', wrDtm : '20200102', likeYn : 'Y', likeCnt : '0'}
      // mapActions 사용하고 vuex actions사용하기
      this.addList(obj);

      // mapActions 사용안하고 vuex actions 사용하기
      // this.$store.dispatch('addList', obj)

      // mapMutations 사용안하고 push 하기
      //this.$store.commit('addList', obj)

      // mapMutations 사용해서 push 할때
      // this.addList(obj)


      // list api로 가져오기
      // let headers = {
      //   'Content-Type': 'application/json;charset=utf-8'
      // };

      // if(this.token !== '') {
      //   headers['authorization'] = this.token
      // }

      // axios.post('/api/main/product', {seq: 14}, {headers})
      // .then((response) => {
      //   console.log(response.data)
      //   this.list = response.data
      // })

    }
  },
  watch : {

  },
  computed : {
    ...mapGetters(['allListCount', 'countOfSeq', 'percentOfSeq'])
  },
  beforeCreate () {

  },
  created() {

    axios.post('/api/auth/init', {id: 14, pwd: 1234})
        .then((response) => {
          console.log(response.data)
          this.token = response.data.token;
          console.log(this.token)
        })

  }
}
</script>

<style>
  .content {
    margin-top: 60px;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    height: 100lv;
    overflow: scroll;
  }

  .card-div {
    width: 100%;
    height: 15%;
  }

  .card-div .card-img-div {
    width: 30%;
    display: inline-block;
  }

  .card-div .card-img {
    width: 100%;
  }
  .card-div .card-text-div {
    width: 67%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-left: 2%;
  }
</style>