<template>
  <div class="nav-bar">
    <router-view name="nav"/>
  </div>
  
  <div class="main">
    <div style="height: 60px;"></div>
    <router-view/>
  </div>

  <div class="footer"> 
    <div class="footer-div">
      <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
      <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
      <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
      <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
      <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
    </div>
  </div>
</template>

<style>
.nav-bar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #2c3e50;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}
.footer {
  width: 100%;
  height: 60px;
}

.footer-div {
  width: 100%;
  height: 60px;
  border-top: 1px solid #2c3e50;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
}

.footer-img-div {
  display: inline-block;
  width :20%;
}

.footer-menu-img {
  width :60%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
