<template>
  <div>
    <router-view name="nav"/>
    
    <div class="main" style="padding: 0 2%">
      <router-view/>
    </div>

    <router-view name="footer"/>
  </div>
</template>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
