<template>
    <div class="footer"> 
        <div class="footer-div">
        <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
        <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
        <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
        <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
        <div class="footer-img-div"><img class="footer-menu-img" src="@/assets/image/menu1.png"/></div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        }
    }
}
</script>

<style>
    .footer {
        width: 100%;
        height: 60px;
    }

    .footer-div {
        width: 100%;
        height: 60px;
        border-top: 1px solid #2c3e50;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: white;
    }

    .footer-img-div {
        display: inline-block;
        width :20%;
        text-align: center;
    }

    .footer-menu-img {
        width :60%;
        max-width: 50px;
        max-height: 60px;
    }
</style>